@{
    ViewBag.Title = "Om Din Bokhandel";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Din Bokhandel er nylig lnsert av to studenter som går i HIOA.</p> <br />

<P> Har du tips, gode råd, skryte eller noe du vil klage på vil vi sette veldig pris på å høre fra deg, send oss en e-post på kundeservice@dinbokhandel.no</P>

