@{
    ViewBag.Title = "Kontakt Oss";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Din Bokhandel<br />
    Storgata 61<br />
    <abbr title="Tlf.:">P:</abbr>
    45549480
</address>

<address>
    <strong>Support:</strong>kundeservice@dinbokhandel.no<br />
</address>